$border: 1px solid black;

:root {
  --fixed-table-cell-background-color: white;
  --table-striped-odd-row-background-color: #e8eaf6;
  --table-striped-even-row-background-color: white;
  --table-row-hover-background-color: #c5cae9;
}

* {
  box-sizing: border-box;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  .row:first-child .cell__wrapper {
    border-top: $border;
  }

  .head + .body {
    .row:first-child .cell__wrapper {
      border-top: unset;
    }
  }

  &__container {
    padding-bottom: 1px;
    max-width: 100%;
  }

  &--fixed-top-title {
    .head {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: var(--fixed-table-cell-background-color);
    }
  }

  &--fixed-left-column {
    .body .row,
    .head .row {
      .cell:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: var(--fixed-table-cell-background-color);
        background-clip: border-box;
      }
    }
  }

  &--striped {
    .body .row:nth-child(odd) .cell {
      background-color: var(--table-striped-odd-row-background-color);
    }
    .body .row:nth-child(even) .cell {
      background-color: var(--table-striped-even-row-background-color);
    }
  }

  .body .row:hover {
    .cell__wrapper {
      background-color: var(--table-row-hover-background-color);
    }
  }
}
