$border: 1px solid black;

:root {
  --fixed-table-cell-background-color: white;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  .row:first-child .cell__wrapper {
    border-top: $border;
  }

  .head + .body {
    .row:first-child .cell__wrapper {
      border-top: unset;
    }
  }

  &__container {
    padding-bottom: 1px;
    max-width: 100%;
  }

  &--striped {
    .body .row:nth-child(odd) {
      background-color: #e8eaf6;
    }
  }

  &--separate-border {
    border-collapse: separate;
  }

  &--no-border {
    .cell {
      border: unset;
    }
  }

  &--cell-shadow {
    .head {
      .row:first-child {
        .cell {
          border-top: 1px solid rgba(0, 0, 0, 0.25);
        }
      }
    }
    .cell {
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    }
  }

  &--fixed-top-title {
    .head {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: var(--fixed-table-cell-background-color);
    }
  }

  &--fixed-left-column {
    .body .row,
    .head .row {
      .cell:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: var(--fixed-table-cell-background-color);
        background-clip: border-box;
      }
    }
  }

  .body .row:hover {
    .cell__wrapper {
      background-color: #c5cae9;
    }
  }
}
